env                      = "stage"
cloud_id = "retrewt4345345tjertj"
folder_id = "b435ijlerfgijeroi"
public_key_path = "/Users/koreni/.ssh/yacloud.pub"
subnet_id = "l434k5jh34oifjo4ijf5"
token = "erlgij54o8fij5o85gjf458gjodjgdeg"
image_id = "eligj5foe85jfo8e5jfe"
service_account_key_file = "../packer/key.json"
private_key_path = "~/.ssh/yacloud"
